<div class="d-flex" >
    <div class="main-sidebar d-flex flex-column" style="width: 70px;  ">
      <a href="/" class="d-block p-3 text-decoration-none" title="" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Icon-only">
        <img src="/images/Rectangle-63.png" style="width: 100%; height: 34px;" alt="">
        <span class="visually-hidden">Icon-only</span>
      </a>
      <ul class="nav flex-column mb-auto text-center">
        <li class="nav-item w-100" style="background-color: rgba(255, 255, 255, 0.3);">
          <a href="a" class="nav-link p-0 py-3" aria-current="page" title="" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-original-title="Dashboard">
            <img src="/images/dashboard.png" class="mb-1" alt="dashboard">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a href="/cars" class="nav-link py-3" title="" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Cars">
            <img src="/images/fi_truck.png" class="mb-1" alt="cars">
            Cars
          </a>
        </li>
      </ul>
    </div>
    <div class="expand-sidebar d-flex flex-column" id="sidebar-wrapper">
      <a href="/" class="d-block p-3 side-header text-decoration-none" title="" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Icon-only">
        <img src="/images/Rectangle-62.png" style="width: 100px; height: 34px;" alt="">
        <span class="visually-hidden">Icon-only</span>
      </a>
      <ul class="nav flex-column mb-auto text-center">
        <li class="nav-header px-3 py-3 mt-3">DASHBOARD</li>
        <li class="nav-item w-100" style="background-color: rgba(14, 11, 11, 0.3);">
          <a href="/" class="nav-link px-3 py-3" aria-current="page" title="" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-original-title="Dashboard">
            Dashboard
          </a>
        </li>
      </ul>
    </div>
  </div>